
<section>
    <div>
        <form id="profile-form" method="post">
        <h2>Edit your profile</h2>
            <p><strong>{{first}} {{last}}</strong></p>
            <p><strong>{{email}}</strong></p>
            <input id="city" type="text" name="city" value="{{userprofile.city}}" placeholder="City" ><br>
            <input id="age" type="number" name="age" value="{{userprofile.age}}" placeholder="Age" ><br>
            <input id="website" type="text" name="website" value="{{userprofile.website}}"placeholder="Favorite website?" ><br>
            <input class="submit-button" type="submit"> <input class="submit-button" href="/petition/signed" type="Submit" value="Go Back">
        </form>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/script-rain.js" charset="utf-8"></script>
